
<div class ="container">
  <div class="subscribe-block">
    <img class = "profile-photo" src="../../assets/group.png">
  </div>
  <div class="info-block">
    <div *ngIf = "1" class="name page-block">
      Group Name
      <a href="" >
        <img class= "img-icon" src = "../../assets/not-like.png">
      </a>
    </div>
    <div class="page-block">About</div>
    <div class="page-block">
      <ul class = "musician-box">
        <li>
          <a href="musician/tracks" >
            Tracks
          </a>
        </li>
        <li >
          <a href="musician/albums">
            Albums
          </a>
        </li>
      </ul>
    </div>
    <app-tracks></app-tracks>
    <app-albums></app-albums>
  </div>
</div>


