@font-face {
  font-family: 'Seymour One', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local('Seymour One'), url('https://fonts.googleapis.com/css?family=Seymour+One') format('truetype');
}

.container{
  width: 80%;
  margin: auto;
  float: none;
  min-height: 530px;
}

.profile-photo{
  border-radius: 90%;
  border: 3px solid #700716;
  box-shadow: 0 0 15px #555;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


.info-block{
  width: 100%;
}
.name{
  font-family: 'Seymour One', sans-serif;
  font-size: 30px;
  padding: 15px;
}


a {
  color: #610616;
  text-decoration: none;
}

li {
  margin-right: 30px;
  list-style-type: none;
}

ul{
  margin: 0px;
}

.musician-box{
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

.img-icon{
  width: 20px;
  height: 20px;
}


