.icon {
  position: absolute;
  padding-top: 10px;
  margin-right: 5px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.brand-logo {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  left: 50px;
}

.upload-field{
  width: 60%;
  margin: auto;
}

.Seymour-font{
  font-family: 'Seymour One', sans-serif;
}

.Neucha-font{
  font-family: 'Neucha', cursive;
}
