
<nav class="red darken-3" role="navigation">
    <div class = "container">
      <div class="nav-wrapper">
        <div id="logo-container">
          <img width="40" class="icon valign-wrapper hide-on-med-and-down" src="../assets/cat.png">
          <a href="#" class="brand-logo">Musicat</a>
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="help.html">Как это работает</a></li>
          <li><a href="about.html">О нас</a></li>
        </ul>
      </div>
    </div>
</nav>

  <div class="upload-field">
    <h4 class="center-align brown-text text-lighten-2 Seymour-font" >Не можешь подобрать аккорды?</h4>
    <h5 class="right-align brown-text text-lighten-2 Neucha-font">Тогда я помогу, мяу</h5>
    <form action="#">
      <div class="input-field file-field">
        <div class="btn red darken-1">
          <span>File</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </form>
  </div>

