<div class="toolbar-layout">
<a class = "nav-link home" href="/">
  <img alt="Home" title = "Home" src="../../assets/cat.png">
  Musicat
</a>
  <div class="top-menu">
    <ul role = "navigation">
    <li class>
    <a class="nav-link" href="Chords Library" title="Библиотека Аккордов">Библиотека Аккордов</a>
    </li>
    <li class>
      <a class="nav-link" href="Top Users" title="Топ пользователей">Топ пользователей</a>
    </li>
    <li class>
      <a class="nav-link" href="Top popular tracks" title="Топ популярных треков">Топ треков</a>
    </li>
    </ul>
  </div>
</div>
